* {
    margin: 0px;
    padding: 0px;
    cursor: url(image/arrow.png), auto;
}

.animation {
    margin: 50px;
    background-color: rgb(185, 178, 178);
    position: absolute;
}

div {
    margin: 20px;
    padding: 20px;
}

input {
    width: 500px;
    padding: 20px;
    font-size: 24px;
    border-radius: 5px;
    border-color: gray;
}

.submit {
    width: 150px;
    padding: 15px;
    background-color: rgb(85, 85, 234);
    color: white;
    font-size: 2rem;
}

input:hover {
    border-radius: 5px;
    border-color: blue;
}

label {
    font-size: 20px;
    color: rgb(97, 95, 95);
    position: relative;
    animation: slideUp 2s linear 1s;
}

@keyframes slideUp {
    55% {
        top: 10px;
    }
}

img {
    width: 70px;
    position: absolute;
    left: 500px;
    bottom: 40px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}