/* Roboto-CSS Font */
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

/* Global */
.font-white {
    color: white;
}

.font-lightBlack {
    color: black;
    opacity: 0.5;
}

.font-green {
    color: rgb(0, 33, 0);
}

.font-lightGreen {
    color: rgb(152, 222, 152);
}

.font-black {
    color: black;
}

.font-red {
    color: red;
}

.bg-green {
    background-color: rgb(238, 250, 219);
}

.bg-lightGreen {
    background-color: rgb(238, 250, 219);
}

.font-1rem {
    font-size: 1rem;
}

.font-1-2rem {
    font-size: 1.2rem;
}

.font-1-4rem {
    font-size: 1.4rem;
}

.font-2rem {
    font-size: 2rem;
}

.font-2-5rem {
    font-size: 2.5rem;
}

.box-shadow {
    box-shadow: inset -1px 0px 69px -36px rgba(0, 0, 0, 1);
}

.border-radius {
    border-radius: 0px 100px 0px 100px;
}

.flex {
    display: flex;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.before::before,
.after::after {
    content: "";
    width: 15%;
    border-bottom: 1px solid rgb(1, 46, 1);
}

/* Header Container */
header {
    height: 100vh;
    margin-top: -35px;
    padding: 30px 60px;
    background: url(../img/golf-wallpaper7.jpeg);
    background-size: cover;
}

.theme-header {
    width: 100%;
    left: 10px;
    animation: move 5s linear;
}

@keyframes move {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.button-theme {
    padding: 10px 25px;
    background-color: rgba(0, 33, 0, 0.618);
}

.button-theme:hover {
    background-color: rgb(1, 35, 0);
}

/* Dropdown Menu */
.dropdown-menu {
    width: 300px;
    padding: 15px 50px;
    top: 37px;
    right: -136px;
    transition: transform 2s ease;
    display: none;
}

.dropdown-menu div,
a {
    padding: 15px 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: rgb(1, 46, 1);
    border-radius: 10px;
}

.dropdown-menu div:hover {
    box-shadow: inset -1px 0px 69px -36px rgba(0, 0, 0, 1);
}

.dropdown-menu a:hover {
    color: black;
    font-weight: bolder;
}

.dropdown-menu:hover,
.dropdown-shopping-cart:hover {
    transform: translateY(-65px);
}

.menu-container:hover .dropdown-menu {
    display: block;
}

/* Dropdown Shopping Cart */
.dropdown-shopping-cart {
    width: 370px;
    top: 37px;
    right: -60px;
    z-index: 2;
    transition: transform 2s ease;
    display: none;
}

.shopping-cart-container:hover .dropdown-shopping-cart {
    display: block;
}

.dropdown-shopping-cart img {
    border: 1px solid rgba(138, 138, 138, 0.309);
}

.dropdown-button {
    border: none;
    background: transparent;
}

.dropdown-button a:hover {
    color: red;
}

.dashed-line {
    border-style: dashed;
    opacity: 0.2;
}

.button-cart {
    padding: 10px 60px;
    background-color: rgb(67, 67, 67);
}

.button-cart:hover {
    background-color: rgb(36, 36, 36);
}

/* Main Container */

/* First Section */

.section1-icons img {
    width: 30%;
}

.section1-icons h4:hover {
    color: rgb(152, 222, 152);
}

/* Second Section */
.section-2 {
    padding: 100px 0px;
    margin: 0px 0px 0px 300px;
    border-right: 2px solid black;
    border-left: 5px solid black;
}

.welcome-section {
    width: 50%;
    height: 80%;
    background-color: rgb(11, 0, 37);
    bottom: 50px;
    left: -170px;
    transition: transform 0.5s ease;
}

.section-2 .welcome-section:hover {
    transform: scale(1.3);
}

.welcome-paragraph {
    text-align: justify;
}

/* Third Section */
.section-3 {
    padding: 100px 0px;
    display: grid;
    grid-template-columns: auto auto;
}

.match-results:hover {
    color: rgb(0, 81, 0);
}

.match-section {
    border-right: 3px solid black;
}

.last-match {
    display: grid;
    grid-template-columns: auto auto auto;
}

.last-match figure {
    border: 1px solid rgb(172, 172, 172);
}

.list-matches {
    list-style-type: none;
}

.list-matches-link:hover {
    box-shadow: 0px 20px 10px -15px rgba(69, 125, 76, 0.75);
}