* {
    margin: 0px;
    padding: 0px;
    cursor: url(images/arrow.png), auto;
}

body {
    height: 100vh;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

/* Global */
.circle {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid rgb(222, 216, 216);
}

.border-radius {
    border-radius: 5px;
}

.card-model {
    padding: 25px;
    border-radius: 5px;
}

.flags-image {
    width: 20px;
}

.boxShadow:hover {
    box-shadow: 0px 0px 18px 0px rgb(179, 178, 178);
}

.card-transform {
    transform: translateY(-35px);
}

.bgWhite {
    background-color: white;
}

.bgRed {
    background-color: red;
}

.bgGreen {
    background-color: green;
}

.bgOrange {
    background-color: orange;
}

.bgPink {
    background-color: rgb(245, 102, 126);
}

.bgBlue {
    background-color: rgb(101, 101, 245);
}

.font-size-card {
    font-size: 1.5rem;
}

.font-color-card {
    color: rgba(34, 33, 33, 0.554);
}

.text-align-cards {
    text-align: center;
}

.card-figure {
    width: 100%;
    transform: translateY(-40px);
}

.info-flex {
    display: flex;
    align-items: center;
}

.icon-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Aside-Container */
aside {
    background: url(images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
    background-position: center;
    overflow-y: scroll;
}

.asideLinks,
.aside-paragraph {
    margin: 10px 25px;
    padding: 10px 0px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem;
    color: white;
    border-radius: 5px;
}

.asideLinks {
    font-size: 1.3rem;
}

.asideLinks:hover:not(.aside-paragraph, .aside-avatar, .aside-dashboard) {
    background-color: rgba(162, 162, 162, 0.598);
}

.avatar-image {
    width: 30px;
    border-radius: 50%;
}

/* Dashboard-Container */
.Dashboard-container {
    padding: 0px 30px;
    grid-template-rows: auto 1fr auto;
    row-gap: 3rem;
    background-color: rgb(226, 225, 225);
    overflow-y: scroll;
}

/* Header-Container */
.header-container {
    margin: 10px 0px;
}

.header-container div {
    padding: 0px;
    gap: 2rem;
}

.search-form input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(207, 205, 205);
    transition: border-bottom 2s linear;
}

.search-form input:focus {
    border-bottom: 2px solid rgb(139, 4, 4);
}

.notifications {
    position: relative;
}

.notificationP {
    position: absolute;
    right: -3px;
    top: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white;
    justify-content: center;
}

.notificationMsg {
    padding: 5px 10px;
    width: 300px;
    border: 2px solid rgb(222, 216, 216);
    position: absolute;
    display: none;
    top: 20px;
    right: 15px;
}

.notificationMsg p {
    padding: 10px;
}

.notifications:hover .notificationMsg {
    display: block;
}

.notificationMsg p:hover {
    background-color: red;
    padding: 10px;
}

/* Main-Container */
.main-container {
    row-gap: 4rem;
}

.global-sales {
    display: flex;
    gap: 1rem;
}

/* Sales-Section */
.sales-section,
div {
    padding: 10px;
}

.flag-and-map {
    grid-template-columns: 1fr 1fr;
    align-content: end;
    gap: 2rem;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 2px solid rgb(222, 216, 216);
}

.text-align-table {
    text-align: end;
}

/* Cards-Section */
.card-section {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.card-header {
    padding: 0px;
}

.cards-section {
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.footer-info {
    gap: 1rem;
}