* {
    cursor: url(image/arrow.png), auto;
}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.aside-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(88, 91, 132);
    color: white;
    text-align: end;
}

.aside-paragraph {
    color: rgb(117, 135, 187);
    font-size: 25px;
}

.aside-header {
    font-size: 25px;
}

button {
    background-color: transparent;
    padding: 5px 15px 5px 15px;
    color: white;
}

.main-container {
    padding: 50px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    border: 1px solid rgb(245, 235, 235);
}

h4 {
    font-size: 18px;
    color: rgb(191, 191, 191);
}

.article-header {
    font-size: 25px;
    position: relative;
}

img {
    width: 10%;
}

.user-image {
    position: absolute;
    right: -450px;
    top: 20px;
}

.article-paragraph {
    color: rgb(64, 63, 63);
    text-align: justify;
}

.bgGreen {
    background-color: rgb(14, 189, 14);
    color: white;
    padding: 5px;
}

.bgBlue {
    background-color: rgb(54, 54, 251);
    color: white;
    padding: 5px;
}

.bgPink {
    background-color: rgb(203, 36, 78);
    color: white;
    padding: 5px;
}

.name {
    color: rgb(77, 77, 255);
}