body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  color: #222;
  background-color: #fff;
}

header {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a.active, nav a:hover {
  color: #00bcd4;
}

.hero {
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.hero img {
  width: 100%;
  height: 150%;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 20px;
  position: absolute;
  top: 5%;
  left: 35%;
}

.content {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 40px;
}

.gallery img {
  width: 300px;
  border-radius: 10px;
}

.about-img {
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
  border-radius: 10px;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px;
}
