body {
    background-image: url(images/background.webp);
    background-size: cover;
    text-align: center;
    font-family: sans-serif;
    margin: 0px 150px;
    cursor: pointer;
}

hr {
    border-color: black;
}

h1 {
    font-size: 3rem;
}

.nav li {
    background-color: rgb(4, 110, 239);
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    display: inline;
    position: relative;
    right: 20px;
}

.article {
    border: 3px;
    background-color: rgb(244, 197, 240);
    border-radius: 20px;
    padding: 20px;
}

.paragraph {
    text-align: justify;
    font-size: 18px;
}

h2 {
    font-size: 2rem;
}

img {
    width: 300px;
    border-radius: 50%;
}

.education {
    border: 3px;
    background-color: rgb(152, 231, 178);
    border-radius: 20px;
    font-size: 18px;
    padding: 20px;
}

.primary-school,
.high-school,
.university {
    text-align: left;
    background-color: rgb(152, 231, 178);
    box-shadow: 0px 0px 20px 20px rgb(77, 204, 141);
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    list-style-type: none;
}

.my-skills {
    border: 3px;
    background-color: rgb(174, 230, 235);
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
}

table,
th,
td {
    padding: 10px;
    margin: auto;
    border: 2px solid rgb(142, 138, 138);
    border-collapse: collapse;

}

th {
    background-color: rgb(100, 144, 239);
}

td {
    background-color: rgb(167, 208, 247);
}

.header {
    text-align: center;
}

.my-projects {
    border: 3px;
    background-color: rgb(249, 187, 187);
    border-radius: 20px;
    padding: 15px;
    font-size: 18px;
    text-align: left;
}

.my-projects button {
    background-color: rgb(225, 143, 37);
    color: white;
    position: relative;
    bottom: 10px;
}

.footer {
    border: 10px;
    background-color: rgb(89, 87, 87);
    padding: 20px;
    font-size: 18px;
    color: white;
}

.article:hover {
    border: 3px solid rgb(156, 62, 148);
    background-color: rgb(235, 153, 228);
    border-radius: 20px;
}

.nav li:hover {
    border: 2px solid rgb(48, 62, 251);
    background-color: rgb(87, 179, 253);
}

.education div:hover {
    border: 2px solid rgb(42, 179, 14);
    background-color: rgb(116, 247, 86);
}

.education:hover {
    border: 3px solid rgb(50, 157, 62);
    background-color: rgb(126, 255, 121);
    border-radius: 20px;
}

.my-skills:hover {
    border: 3px solid rgb(35, 76, 143);
    background-color: rgb(146, 177, 225);
    border-radius: 20px;
}

.my-projects:hover {
    border: 3px solid rgb(156, 68, 146);
    background-color: rgb(223, 121, 211);
    border-radius: 20px;
}

.my-projects button:hover {
    border: 3px solid rgb(211, 113, 48);
    background-color: rgb(221, 114, 53);
    cursor: pointer;
}