body:hover {
    cursor: pointer;
}

.first:hover {
    border: 3px solid rgb(156, 62, 148);
    background-color: rgb(235, 153, 228);
    border-radius: 20px;
}

.c1 li:hover {
    border: 2px solid rgb(48, 62, 251);
    background-color: rgb(87, 179, 253);
}

.second div:hover {
    border: 2px solid rgb(42, 179, 14);
    background-color: rgb(116, 247, 86);
}

.second:hover {
    border: 3px solid rgb(50, 157, 62);
    background-color: rgb(126, 255, 121);
    border-radius: 20px;
}

.third:hover {
    border: 3px solid rgb(35, 76, 143);
    background-color: rgb(146, 177, 225);
    border-radius: 20px;
}

.fourth:hover {
    border: 3px solid rgb(156, 68, 146);
    background-color: rgb(223, 121, 211);
    border-radius: 20px;
}

.fourth button:hover {
    border: 3px solid rgb(211, 113, 48);
    background-color: rgb(221, 114, 53);
    cursor: pointer;
}