body {
    background-image: url(Images/photo_3.png);
    background-size: cover;
    text-align: center;
    
}

header li {
    background-color: blue;
    border-radius: 5rem;
    padding: 1rem;
    display: inline;
}