body {
    margin: 0;
    height: 100vh;
}

hr {
    width: 33%;
    border-color: red;
}

h1 {
    text-decoration: underline;
}

h1,
p {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

article:nth-child(odd) {
    padding: 20px;
    background-color: grey;
}

article:nth-child(even) {
    padding: 20px;
    background-color: beige;
}

.article_1:hover,
.article_2:hover {
    margin: 20px;
    border: 2px solid black;
    background-color: rgb(169, 169, 185);
    cursor: pointer;
}

.article_3:hover,
.article_4:hover {
    margin: 20px;
    border: 2px solid black;
    background-color: rgb(239, 245, 161);
    cursor: pointer;
}